

.carousel {
    position:relative;
   .carousel-inner{
      

         .controls{
             position: absolute;
             z-index: 10;
             display: flex;
             
             button{
                 z-index: 10;
                 flex: 0 0 auto;
                 background-color: black;
                 width: 70px;
                 height:80px;
                 &:hover{
                     background-color: hsl(0, 0%, 63%);
                     border:none;
                 }
             }
         }
         .carousel-items{
                
               .carousel-item{
                  display: none;
               }
              .active{
                 display:flex;
               }
         }
         
   }
}