

.carousel {
      .carousel-inner{
         position:relative;
      }
      .carousel-inner{
            .controls{

            }
            .carousel-item{
                display: none;
                max-height: 400px;
                max-width: 900px;
                position: relative;
                overflow: hidden;
                width: 100%;
            }
            .active{
                display:flex;
            }
            
      }
}

.carousel .controls {
  position: absolute;
  top: 20em;
  left: -42em;
  z-index: 10;
  display: flex;
  width: 100%;
  padding: 0.25em 1.25em 0;
}

.carousel .controls button {
  position: absolute;
  z-index: 10;
  flex: 0 0 auto;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  outline: none;
}

.carousel .controls button.previous {
  right: 70px;
}

.carousel .controls button.next {
  right: 18px;
}

/* SVG Controls */

.carousel .controls svg .background {
  stroke: black;
  fill: black;
  stroke-width: 1px;
  opacity: 0.6;
}


.carousel .controls svg polygon {
  fill: white;
  stroke: white;
}

.carousel .controls button:focus svg .background,
.carousel .controls button:hover svg .background,
.carousel .controls button:hover svg .border {
  fill: #005a9c;
  stroke: #005a9c;
  opacity: 1;
}

.carousel .controls button:focus svg .border {
  stroke: white;
}



