@media screen and (max-width: 767px){
    ul {
        display: none;
      }
      
    ul.is-active {
        display: block;
    }
}

#close{
    filter:brightness(0) saturate(100%) invert(92%) sepia(3%) saturate(3990%) hue-rotate(191deg) brightness(106%) contrast(105%);
}

@media screen and(min-width:767px){
        #menubutton{
            display:none;
        }
        #navbarCollapse{
            display:flex;
            flex-direction:row;
            justify-content: space-between;
            align-items: center;
        }

}