.display-flex {
  display: flex; }

.direction-row {
  flex-direction: row; }

.direction-column {
  flex-direction: column; }

.no-wrap {
  flex-wrap: nowrap; }

.wrap {
  flex-wrap: wrap; }

.column-wrap {
  flex-flow: column wrap; }

.justify-content-center {
  justify-content: center; }

.justify-content-start {
  justify-content: start; }

.justify-content-flex-end {
  justify-content: flex-end; }

.justify-content-space-between {
  justify-content: space-between; }

.justify-content-space-around {
  justify-content: space-around; }

@media screen and (min-width: 768px) {
  .justify-content-md-space-between {
    justify-content: space-between; } }

@media screen and (min-width: 768px) {
  .justify-content-md-space-around {
    justify-content: space-around; } }

@media screen and (min-width: 768px) {
  .justify-content-md-start {
    justify-content: start; } }

.align-items-center {
  align-items: center; }

.align-items-flex-start {
  align-items: flex-start; }

align-items-flex-end {
  align-items: flex-end; }

.align-items-stretch {
  align-items: stretch; }

.align-content-stretch {
  align-content: stretch; }

.align-content-between {
  align-content: space-between; }

.align-self-start {
  align-self: flex-start; }

@media screen and (min-width: 768px) {
  .flex-1-md {
    flex: 1; } }

@media screen and (min-width: 768px) {
  .flex-3-md {
    flex: 3; } }

@media screen and (min-width: 768px) {
  .flex-2-md {
    flex: 2; } }

.flex-basis-25 {
  flex-basis: 25%; }

.flex-basis-40 {
  flex-basis: 40%; }

.grow-4 {
  flex-grow: 4; }

@media screen and (min-width: 768px) {
  .flex-basis-25-md {
    flex-basis: 25%; } }

@media screen and (min-width: 768px) {
  .flex-basis-80-md {
    flex-basis: 80%; } }

@media screen and (min-width: 768px) {
  .flex-basis-20-md {
    flex-basis: 20%; } }

@media screen and (min-width: 768px) {
  .flex-basis-40-md {
    flex-basis: 40%; } }

@media screen and (min-width: 768px) {
  .flex-basis-60-md {
    flex-basis: 60%; } }

.me-2 {
  margin-right: 2em; }

@media screen and (min-width: 768px) {
  .me-1-md {
    margin-right: 1em; } }

.colRow {
  flex-direction: column; }
  @media screen and (min-width: 768px) {
    .colRow {
      flex-direction: row; } }

.rowCol {
  flex-direction: row; }
  @media screen and (min-width: 768px) {
    .rowCol {
      flex-direction: column; } }

@media screen and (max-width: 767px) {
  ul {
    display: none; }

  ul.is-active {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; } }
#close {
  filter: brightness(0) saturate(100%) invert(92%) sepia(3%) saturate(3990%) hue-rotate(191deg) brightness(106%) contrast(105%); }

@media screen and (min-width: 767px) {
  #menubutton {
    display: none; }

  #navbarCollapse {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; } }
.carousel .carousel-inner {
  position: relative; }
  .carousel .carousel-inner .controls {
    position: relative;
    transform: translate(300px, 360px);
    z-index: 10;
    display: flex; }
    .carousel .carousel-inner .controls button {
      z-index: 10;
      flex: 0 0 auto;
      margin: 0;
      padding: 0;
      border: none;
      background: transparent; }
    .carousel .carousel-inner .controls svg .background {
      stroke: black;
      fill: black;
      stroke-width: 1px;
      opacity: 0.6; }
      .carousel .carousel-inner .controls svg .background:focus, .carousel .carousel-inner .controls svg .background:hover {
        fill: #005a9c;
        stroke: #005a9c;
        opacity: 1; }
    .carousel .carousel-inner .controls svg polygon {
      fill: white;
      stroke: white; }
    @media screen and (min-width: 768px) {
      .carousel .carousel-inner .controls {
        transform: translate(840px, 534px); } }
  .carousel .carousel-inner .carousel-items {
    width: 100vw; }
    .carousel .carousel-inner .carousel-items .carousel-item {
      display: none;
      position: relative; }
    .carousel .carousel-inner .carousel-items .active {
      display: flex; }
    .carousel .carousel-inner .carousel-items .carousel-text {
      padding: 10px;
      max-width: 100%; }
      @media screen and (min-width: 768px) {
        .carousel .carousel-inner .carousel-items .carousel-text {
          padding: 0 25px;
          min-width: 40%; } }

*,
::before,
::after {
  box-sizing: border-box; }

html,
body {
  background-color: Snow;
  background-color: white;
  color: black;
  color: black;
  font-size: 18px;
  font-weight: 400;
  font-family: "./fonts/League Spartan", serif; }

.text-center {
  text-align: center; }

.hidden {
  display: none; }

.top-z-index {
  position: relative;
  z-index: 1;
  opacity: 1; }

.move-left-15em-md {
  position: relative; }
  @media screen and (min-width: 768px) {
    .move-left-15em-md {
      right: 15em; } }

.img-fluid {
  max-width: 100%;
  height: auto;
  display: block; }

.border-red {
  border: 4px solid red; }

.border-blue {
  border: 4px solid blue; }

@media (scripting: enabled) {
  header a {
    text-decoration: none;
    color: white; }
  header ul li {
    list-style-type: none; }

  aside {
    margin-top: 2em; }

  footer {
    position: relative;
    top: 10em; } }
  @media screen and (scripting: enabled) and (min-width: 768px) {
    footer {
      padding: 4em;
      font-size: 1.2em; } }

@media (scripting: none) {
  /* fallback styles when JS is not supported */
  /*leave carousel collapsed but add some styling */ }

/*# sourceMappingURL=room-homepage-master.css.map */
